Source: canaima-base
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cdbs
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-base.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-base/trees/master

Package: canaima-base
Architecture: all
Depends:	canaima-llaves (>= 3.1),
		base-files (>= 6.0+canaima9),
		lsb-base (>= 3.2-23.3canaima2),
		lsb-release (>= 3.2-23.3canaima2),
		vim-tiny,
		vim-common,
		apt,
		base-passwd,
		bash,
		bsdutils,
		coreutils,
		dash,
		debconf,
		debconf-i18n,
		debian-archive-keyring,
		debianutils,
		diffutils,
		dpkg,
		e2fslibs,
		e2fsprogs,
		findutils,
		gcc-4.4-base,
		gnupg,
		gpgv,
		grep,
		gzip,
		hostname,
		initscripts,
		insserv,
		libacl1,
		libattr1,
		libblkid1,
		libbz2-1.0,
		libc-bin,
		libc6,
		libcomerr2,
		libdb4.8,
		libgcc1,
		liblocale-gettext-perl,
		liblzma2,
		libncurses5,
		libpam-modules,
		libpam-runtime,
		libpam0g,
		libreadline6,
		libselinux1,
		libsepol1,
		libslang2,
		libss2,
		libstdc++6,
		libtext-charwidth-perl,
		libtext-iconv-perl,
		libtext-wrapi18n-perl,
		libusb-0.1-4,
		libuuid1,
		login,
		mawk,
		mount,
		ncurses-base,
		ncurses-bin,
		passwd,
		perl-base,
		readline-common,
		sed,
		sensible-utils,
		sysv-rc,
		sysvinit,
		sysvinit-utils,
		tar,
		tzdata,
		util-linux,
		xz-utils,
		zlib1g,
		${shlibs:Depends},
		${misc:Depends}
Recommends: canaima-escritorio-base | canaima-servidores-base
Description: Metapaquete que agrupa las aplicaciones básicas para Canaima
 Este metapaquete agrupa un conjunto de aplicaciones básicas que conforman
 una base mínima para la Metadistribución Canaima GNU/Linux.
 .
 Todos los sabores derivados de Canaima deben contener este metapaquete sin
 modificaciones.
